:root{
  --a-color: #bff4cb; /*page-sage*/
  --b-color: #84a98c; /*sage*/
  --c-color: #52796f; /*dusty-emerald*/

  --border-color: teal;
}

*{
  border: 1px solid var(--border-color) ;
  text-align: center;
  vertical-align: super;
  }

body {
  background: blanchedalmond;
}

.container {
  display: flex;
  height: 100vh;  
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;  
  gap: .5rem;
}

.container > *{ /*selects all children in container*/
  min-height: 20%;  
  padding: 0;
}

.a {
  background-color: var(--a-color);
  flex-grow: 2;
  width: 100%;
}

.b {
  background-color: var(--b-color);
  flex-grow: 6;
}

.c {
  background-color: var(--c-color);
  flex-grow: 1;
}

@media (max-width: 600px) {
  .container{
      flex-direction: column;
    }

    .container > *{
    width: auto;
  }
}